# Ignore everything

-

# Re-include frontend

!frontend/
!frontend/\*\*

# Exclude frontend junk

frontend/node_modules/
frontend/.expo/
frontend/.expo-shared/
frontend/dist/
frontend/web-build/
frontend/.idea/
frontend/.vscode/

frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/.cxx/
frontend/android/app/.cxx/
frontend/android/app/.externalNativeBuild/

frontend/ios/Pods/
frontend/ios/build/
frontend/ios/.symlinks/

frontend/**/\*.log
frontend/**/.DS_Store
