# dependencies

node_modules/
\*\*/node_modules/

# git/editor

.git/
.gitignore
.vscode/
.idea/

# env/local

.env
.env.\*
!.env.example
expo-env.d.ts

# expo/web

.expo/
.expo-shared/
dist/
web-build/

# logs

**/\*.log
**/.DS*Store
npm-debug.*
yarn-debug.\_
yarn-error.\*

# native build output

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
android/app/.externalNativeBuild/

ios/Pods/
ios/build/
ios/.symlinks/

# kotlin / temp / caches

.kotlin/
.metro-health-check\*
coverage/
tmp/
temp/

# secrets / signing

_.jks
_.keystore
_.keystore.jks
_.p8
_.p12
_.key
_.mobileprovision
_.pem
